
apiVersion: v1
kind: Service
metadata:
    name: das-wetter-bot
    namespace: telegram-weather-bot-temp
spec:
    type: ClusterIP
    ports:
    - port: 80
      targetPort: 80
    selector:
        app: das-wetter-bot
